html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;           /* Que la app ocupe toda la pantalla */
  display: flex;
  flex-direction: column;      /* Organizar navbar, contenido y footer en columna */
}

.content {
  flex: 1; /* Que crezca para ocupar el espacio entre navbar y footer */
  padding: 10px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Importante para que sus hijos puedan crecer */
}

.page-container {
  flex: 1; /* Para que crezca dentro de .content */
  display: flex;
  flex-direction: column;
}





.app > *:not(footer) {
  flex-shrink: 0;              /* Navbar y Routes no se achican */
}

.app > footer {
  margin-top: auto;            /* Empuja el footer hacia abajo */
}
